<h1 class="center">What do you need to do today?</h1>

  <div>
    <%= form_for(@task) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :task %>
      <%= f.text_field :task %>

      <%= f.label :task_etc, "for approximately" %>
      <%= f.text_field :task_etc %> minutes

      <%= f.label :reward, "Reward for completing task" %>
      <%= f.text_field :reward %>

      <%= f.label :reward_etc, "for" %>
      <%= f.text_field :reward_etc %> minutes

      <%= f.submit "Add to to-do list", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= link_to "See my to-do list", tasks_path, class: "btn btn-large btn-primary" %>
</div>


<% provide(:title, 'To-Do List for Today') %>
<h1>To-Do List for Today</h1>

<%= table_for @tasks do -%>
  <% columns :task, :task_etc, :reward, :reward_etc %>
<% end %>

<br>
<br>




<%= link_to "Add another item", create_path %>