<li id="<%= todo_item.id %>">
<div class="task_item">
  <span class="task"><%= todo_item.task %></span>
  <span class="task_etc">for <%= pluralize(todo_item.task_etc, "minute") %>.</span>
 </div>
 <div class="reward_item">
  Your reward: <span class="reward"><%= todo_item.reward %></span>
  <span class="reward_etc">for <%= pluralize(todo_item.reward_etc, "minute") %>!</span>
 </div>
  <% if current_user?(todo_item.user) %>
    <%= link_to "Done", todo_item, method: :delete,
                                     data: { confirm: "Great job! Hope you enjoyed the reward. This item will be deleted." },
                                     title: todo_item.task %>
  <% end %>
</li>